/*Nolan Huesers, 12/07/2025*/

#wrapper {
	margin: auto;
	max-width: 80%;
	text-align: center;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
}
	
nav ul {
	list-style-type: none;
}
	
nav li {
	display: inline;
	padding: 0 5%
}