/*Nolan Huesers, 12/07/2025*/

#wrapper {
	margin: auto;
	max-width: 80%;
	text-align: center;
	font-size: 1.3em;
	color: #EAEAEA;
	background-color: #0B0F2D;
}

body {
	background-color: #0B0F2D;
}

header, footer {
	border: 3px solid #9B30FF;
	padding: 0;
	
}

nav a {
	text-decoration: none;
}

nav ul li a {
	color: #00FFE0;
}
	
nav ul {
	list-style-ty none;
}
	
nav li {
	display: inline;
	padding: 0 5%;
}

ol {
	list-style-position: inside;
	padding: 0;
	margin: 0 auto; 
}

@media (min-width: 576px){
	
	}

main {
	color: #EAEAEA;}

@media (min-width: 768px) {
	
	}

@media (min-width: 992px) {
	
	}